i.icon {
	font-size: 2em;
}

.container.main {
	margin-top: 7.0em;
}

#delete {
	display: inline;
}

.blog-page-show-a { 
    text-decoration: none;
    color: inherit;
}

.blog-page-show-a:hover { 
    text-decoration: none;
    color: inherit;
}